@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
/* line 6, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 1, ../sass/_header.scss */
header {
  margin: 0;
  padding: 0;
}
/* line 5, ../sass/_header.scss */
header nav {
  height: 60px;
  line-height: 58px;
  background: #006d77;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 16, ../sass/_header.scss */
header nav .logo {
  flex-grow: 2;
  height: 58px;
  line-height: 56px;
}
/* line 21, ../sass/_header.scss */
header nav .logo img {
  width: 170px;
}
/* line 26, ../sass/_header.scss */
header nav #search {
  flex-grow: 4;
  margin-top: 3px;
}
/* line 30, ../sass/_header.scss */
header nav #search input {
  background-color: #fff;
  border: 1px solid #fff;
  color: black;
}
/* line 37, ../sass/_header.scss */
header nav ul {
  flex-grow: 4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
/* line 44, ../sass/_header.scss */
header nav ul li {
  flex-direction: end;
  list-style-type: none;
  margin-left: 20px;
  font-size: 1.2em;
}
/* line 51, ../sass/_header.scss */
header nav ul li a {
  position: relative;
  padding: 5px;
  border-radius: 4px;
}
/* line 56, ../sass/_header.scss */
header nav ul li a:after {
  content: "";
  position: absolute;
  bottom: -.1em;
  left: 0;
  width: 100%;
  height: 2px;
  transform-origin: center;
  background: #fff;
  transform: scaleX(0);
  transition: 300ms ease;
}
/* line 70, ../sass/_header.scss */
header nav ul li a:hover:after {
  transform: scaleX(1);
}
/* line 81, ../sass/_header.scss */
header nav ul .dropdown_parent a:after {
  width: 110%;
}
/* line 86, ../sass/_header.scss */
header nav ul .dropdown_parent .dropdown_enfant {
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  background: #014e55;
}
/* line 93, ../sass/_header.scss */
header nav ul .dropdown_parent .dropdown_enfant li {
  font-size: .9em;
  display: block;
  flex-direction: start;
  padding: 3px;
  margin: 0;
}
/* line 101, ../sass/_header.scss */
header nav ul .dropdown_parent .dropdown_enfant li a:after {
  left: 0;
}
/* line 111, ../sass/_header.scss */
header nav ul .dropdown_parent:hover .dropdown_enfant {
  display: block;
  z-index: 5;
}
/* line 117, ../sass/_header.scss */
header nav ul .dropdown_parent:after {
  content: "▼";
  font-size: .7em;
}
/* line 123, ../sass/_header.scss */
header nav ul .panier {
  font-size: 1.6em;
  margin-left: 0;
  position: relative;
}
/* line 128, ../sass/_header.scss */
header nav ul .panier a:hover {
  background: #014e55;
}
/* line 131, ../sass/_header.scss */
header nav ul .panier a:hover:after {
  transform: scaleX(0);
}
/* line 137, ../sass/_header.scss */
header nav ul .panier .badge {
  position: absolute;
  text-align: center;
  width: 15px;
  height: 15px;
  line-height: 14px;
  padding: 0;
  top: 10px;
  right: -5px;
  font-size: .6em;
  background: #e29578;
  border-radius: 50%;
}
/* line 152, ../sass/_header.scss */
header nav ul .dropdown_parent {
  display: block;
}

/* line 160, ../sass/_header.scss */
.btn-ev {
  background: #e29578;
  border: 1px solid #e29578;
}

/* line 165, ../sass/_header.scss */
.btn {
  background: #006d77;
  color: #fff;
  border-radius: 4px;
  text-align: center;
}

/* line 1, ../sass/_section_primaire.scss */
.section-primaire {
  background: #fff;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  width: 100%;
}

/* line 1, ../sass/_product_card.scss */
.products {
  width: 100%;
  display: flex;
}
/* line 5, ../sass/_product_card.scss */
.products .product {
  position: relative;
  border-radius: 10px;
  width: 16.666%;
  margin: 5px;
}
/* line 11, ../sass/_product_card.scss */
.products .product .promo,
.products .product .like {
  position: absolute;
  top: 10px;
}
/* line 17, ../sass/_product_card.scss */
.products .product .promo {
  left: 10px;
  padding: 5px;
  border-radius: 5px;
  background: #e29578;
  color: #fff;
}
/* line 25, ../sass/_product_card.scss */
.products .product .like {
  right: 10px;
  background: #ffddd2;
  padding: 5px;
  border-radius: 50%;
}
/* line 32, ../sass/_product_card.scss */
.products .product img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
/* line 38, ../sass/_product_card.scss */
.products .product .detaille {
  width: 100%;
}
/* line 41, ../sass/_product_card.scss */
.products .product .detaille .title-price {
  display: flex;
  padding: 5px;
}
/* line 45, ../sass/_product_card.scss */
.products .product .detaille .title-price h3 {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  flex-grow: 8;
  word-wrap: break-word;
  font-weight: 500;
}
/* line 54, ../sass/_product_card.scss */
.products .product .detaille .title-price span {
  font-size: 1.2em;
  flex-grow: 2;
}
/* line 60, ../sass/_product_card.scss */
.products .product .detaille .review-buy {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
/* line 67, ../sass/_product_card.scss */
.products .product:hover {
  width: 17%;
  margin: 2.5px;
}

/* line 1, ../sass/_admin.scss */
.content {
  margin: 20px;
}

/* line 7, ../sass/_admin.scss */
.dashboard .title-marked {
  margin: 5px;
}
/* line 9, ../sass/_admin.scss */
.dashboard .title-marked span {
  padding: 3px;
  font-size: .8em;
}
/* line 13, ../sass/_admin.scss */
.dashboard .title-marked .vente-note {
  color: #1b6d1b;
  padding: 2px;
  font-size: .8em;
  background: #befabe;
  border-radius: 3px;
}
/* line 22, ../sass/_admin.scss */
.dashboard .item {
  margin: 5px;
  padding: 10px;
  color: #3f3e3e;
}
/* line 27, ../sass/_admin.scss */
.dashboard .item div, .dashboard .item .nombre {
  display: block;
}
/* line 30, ../sass/_admin.scss */
.dashboard .item .nombre {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 2em;
  font-weight: 500;
  border-radius: 50%;
  text-align: center;
  color: #3f3e3e;
}
/* line 42, ../sass/_admin.scss */
.dashboard .table-infos {
  margin: 5px;
}
/* line 46, ../sass/_admin.scss */
.dashboard .table-infos table tr {
  height: 20px;
}
/* line 48, ../sass/_admin.scss */
.dashboard .table-infos table tr td {
  padding-left: 10px;
  font-size: .9em;
}
/* line 51, ../sass/_admin.scss */
.dashboard .table-infos table tr td img {
  height: 19px;
}
/* line 58, ../sass/_admin.scss */
.dashboard .table-infos table tfoot a {
  font-size: .8em;
  float: right;
}

/* line 2, ../sass/_profile.scss */
.profile .grille {
  padding: 10px;
}
/* line 5, ../sass/_profile.scss */
.profile .grille .personal-infos {
  border-right: 1px solid #999696;
  padding: 5px;
  text-align: center;
}
/* line 10, ../sass/_profile.scss */
.profile .grille .personal-infos img {
  width: 80%;
  border-radius: 50%;
}
/* line 15, ../sass/_profile.scss */
.profile .grille .personal-infos h2 {
  font-size: 1.5em;
  font-weight: 500;
  margin: 5px;
}
/* line 20, ../sass/_profile.scss */
.profile .grille .personal-infos h3 {
  margin: 2px;
  font-size: .9em;
  font-weight: 300;
  color: #3f3e3e;
}
/* line 27, ../sass/_profile.scss */
.profile .grille .personal-infos hr {
  color: #edf6f9;
  border: 1px solid #edf6f9;
}
/* line 32, ../sass/_profile.scss */
.profile .grille .personal-infos .infos-complement {
  text-align: left;
  font-size: .9em;
}
/* line 36, ../sass/_profile.scss */
.profile .grille .personal-infos .infos-complement em {
  color: #3f3e3e;
}
/* line 43, ../sass/_profile.scss */
.profile .grille .profile-infos ul {
  width: 98%;
  margin: auto;
  border-bottom: 1px solid #edf6f9;
}
/* line 48, ../sass/_profile.scss */
.profile .grille .profile-infos ul li {
  display: inline-block;
  padding: 5px;
  list-style-type: none;
  border: 2px solid #fff;
}
/* line 54, ../sass/_profile.scss */
.profile .grille .profile-infos ul li a {
  color: #3f3e3e;
}
/* line 58, ../sass/_profile.scss */
.profile .grille .profile-infos ul li:hover {
  border-bottom: 2px solid #3f3e3e;
}
/* line 64, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille {
  padding: 10px;
}
/* line 66, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille h2 {
  margin: 5px;
  font-size: 1em;
  font-weight: 400;
}
/* line 73, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille .commandes {
  width: 100%;
  margin-top: 10%;
  text-align: center;
}
/* line 78, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille .commandes p {
  font-size: .9em;
  color: #999696;
}
/* line 84, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille form {
  width: 50%;
  margin: auto;
}
/* line 89, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille .item {
  border: 1px solid #999696;
}
/* line 92, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille .item em {
  font-size: .6em !important;
  color: #3f3e3e;
}
/* line 97, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille .item .title-marked-b {
  float: right;
  right: 5px;
}
/* line 101, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille .item .title-marked-b a {
  font-size: .8em;
  color: #006d77;
}
/* line 105, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille .item .title-marked-b a:hover {
  text-decoration: underline;
}
/* line 113, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille .toHome {
  margin-top: 10px;
  margin-left: 37%;
}

/* line 1, ../sass/_specialTable.scss */
.table-liste-infos {
  width: 100%;
  padding: 5px;
}
/* line 5, ../sass/_specialTable.scss */
.table-liste-infos table {
  width: 80%;
  margin: auto;
}
/* line 8, ../sass/_specialTable.scss */
.table-liste-infos table .suffix {
  color: #999696;
}
/* line 12, ../sass/_specialTable.scss */
.table-liste-infos table thead tr {
  padding: 5px;
}
/* line 14, ../sass/_specialTable.scss */
.table-liste-infos table thead tr th {
  color: #999696;
  text-transform: uppercase;
  font-size: .8em;
}
/* line 23, ../sass/_specialTable.scss */
.table-liste-infos table tbody tr {
  padding-top: 5px;
  height: auto;
}
/* line 27, ../sass/_specialTable.scss */
.table-liste-infos table tbody tr:hover {
  background: #edf6f9;
}
/* line 31, ../sass/_specialTable.scss */
.table-liste-infos table tbody tr td {
  width: auto;
  word-wrap: none;
  word-break: none;
  font-size: .9em;
  text-align: center;
}
/* line 38, ../sass/_specialTable.scss */
.table-liste-infos table tbody tr td img {
  height: 50px;
}
/* line 41, ../sass/_specialTable.scss */
.table-liste-infos table tbody tr td a {
  color: #006d77;
}
/* line 45, ../sass/_specialTable.scss */
.table-liste-infos table tbody tr td input[type="number"] {
  width: 50px;
  height: 30px;
  border: 1px solid #999696;
  border-radius: 5px;
  text-align: center;
  font-size: .9em;
}
/* line 54, ../sass/_specialTable.scss */
.table-liste-infos table tbody tr td .btn {
  padding: .1em;
  border: none;
  background: #fff;
}
/* line 64, ../sass/_specialTable.scss */
.table-liste-infos table tfoot td {
  font-size: .9em;
}
/* line 67, ../sass/_specialTable.scss */
.table-liste-infos table tfoot p {
  font-size: .8em;
}
/* line 70, ../sass/_specialTable.scss */
.table-liste-infos table tfoot .tot {
  text-align: right;
}
/* line 74, ../sass/_specialTable.scss */
.table-liste-infos table tfoot .btn {
  font-size: .9em;
  padding: .3em;
}

/* line 17, ../sass/screen.scss */
body {
  background: #edf6f9;
}
