@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
/* line 6, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 2, ../sass/_vueColor.scss */
.form_option .size_Option div {
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  opacity: 0.5;
}
/* line 10, ../sass/_vueColor.scss */
.form_option .size_Option div.selected {
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* line 18, ../sass/_vueColor.scss */
.form_option .vueColor div {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 50%;
  opacity: 0.5;
}
/* line 28, ../sass/_vueColor.scss */
.form_option .vueColor div.selected {
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* line 34, ../sass/_vueColor.scss */
.form_option .vueColor .rouge {
  background: red;
}
/* line 39, ../sass/_vueColor.scss */
.form_option .vueColor .bleu {
  background: blue;
}
/* line 44, ../sass/_vueColor.scss */
.form_option .vueColor .vert {
  background: green;
}
/* line 49, ../sass/_vueColor.scss */
.form_option .vueColor .jaune {
  background: yellow;
}
/* line 54, ../sass/_vueColor.scss */
.form_option .vueColor .noir {
  background: black;
}
/* line 59, ../sass/_vueColor.scss */
.form_option .vueColor .blanc {
  background: white;
}
/* line 64, ../sass/_vueColor.scss */
.form_option .vueColor .orange {
  background: orange;
}
/* line 69, ../sass/_vueColor.scss */
.form_option .vueColor .violet {
  background: purple;
}
/* line 74, ../sass/_vueColor.scss */
.form_option .vueColor .marron {
  background: brown;
}
/* line 79, ../sass/_vueColor.scss */
.form_option .vueColor .gris {
  background: grey;
}
/* line 84, ../sass/_vueColor.scss */
.form_option .vueColor .rose {
  background: pink;
}
/* line 89, ../sass/_vueColor.scss */
.form_option .vueColor .turquoise {
  background: turquoise;
}
/* line 94, ../sass/_vueColor.scss */
.form_option .vueColor .beige {
  background: beige;
}
/* line 99, ../sass/_vueColor.scss */
.form_option .vueColor .or {
  background: gold;
}
/* line 104, ../sass/_vueColor.scss */
.form_option .vueColor .argent {
  background: silver;
}

/* line 1, ../sass/_header.scss */
header {
  margin: 0;
  padding: 0;
}
/* line 5, ../sass/_header.scss */
header nav {
  height: 60px;
  line-height: 58px;
  background: #006d77;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 16, ../sass/_header.scss */
header nav .logo {
  flex-grow: 2;
  height: 58px;
  margin-top: 10px;
}
/* line 21, ../sass/_header.scss */
header nav .logo img {
  width: 170px;
  color: #fff;
}
/* line 27, ../sass/_header.scss */
header nav #search {
  flex-grow: 4;
  margin-top: 3px;
}
/* line 31, ../sass/_header.scss */
header nav #search input {
  background-color: #fff;
  border: 1px solid #fff;
  color: black;
}
/* line 38, ../sass/_header.scss */
header nav ul {
  flex-grow: 4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
/* line 45, ../sass/_header.scss */
header nav ul li {
  flex-direction: end;
  list-style-type: none;
  margin-left: 20px;
  font-size: 1.2em;
}
/* line 52, ../sass/_header.scss */
header nav ul li a {
  position: relative;
  padding: 5px;
  border-radius: 4px;
}
/* line 57, ../sass/_header.scss */
header nav ul li a:after {
  content: "";
  position: absolute;
  bottom: -.1em;
  left: 0;
  width: 100%;
  height: 2px;
  transform-origin: center;
  background: #fff;
  transform: scaleX(0);
  transition: 300ms ease;
}
/* line 71, ../sass/_header.scss */
header nav ul li a:hover:after {
  transform: scaleX(1);
}
/* line 82, ../sass/_header.scss */
header nav ul .dropdown_parent a:after {
  width: 110%;
}
/* line 87, ../sass/_header.scss */
header nav ul .dropdown_parent .dropdown_enfant {
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  background: #014e55;
}
/* line 94, ../sass/_header.scss */
header nav ul .dropdown_parent .dropdown_enfant li {
  font-size: .9em;
  display: block;
  flex-direction: start;
  padding: 3px;
  margin: 0;
}
/* line 102, ../sass/_header.scss */
header nav ul .dropdown_parent .dropdown_enfant li a:after {
  left: 0;
}
/* line 112, ../sass/_header.scss */
header nav ul .dropdown_parent:hover .dropdown_enfant {
  display: block;
  z-index: 5;
}
/* line 118, ../sass/_header.scss */
header nav ul .dropdown_parent:after {
  content: "▼";
  font-size: .7em;
}
/* line 124, ../sass/_header.scss */
header nav ul .panier {
  font-size: 1.6em;
  margin-left: 0;
  position: relative;
}
/* line 129, ../sass/_header.scss */
header nav ul .panier a:hover {
  background: #014e55;
}
/* line 132, ../sass/_header.scss */
header nav ul .panier a:hover:after {
  transform: scaleX(0);
}
/* line 138, ../sass/_header.scss */
header nav ul .panier .badge {
  position: absolute;
  text-align: center;
  width: 15px;
  height: 15px;
  line-height: 14px;
  padding: 0;
  top: 10px;
  right: -5px;
  font-size: .6em;
  background: #e29578;
  border-radius: 50%;
}
/* line 153, ../sass/_header.scss */
header nav ul .dropdown_parent {
  display: block;
}

/* line 161, ../sass/_header.scss */
.btn-ev {
  background: #e29578;
  border: 1px solid #e29578;
}

/* line 166, ../sass/_header.scss */
.btn {
  background: #006d77;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  font-size: 1em;
  padding: .5em;
}

/* line 1, ../sass/_home.scss */
.section-top {
  width: 100%;
  padding: 0;
  margin: 0;
  background: #006d77;
}
/* line 7, ../sass/_home.scss */
.section-top .slider {
  width: 75%;
  margin: auto;
  position: relative;
}
/* line 12, ../sass/_home.scss */
.section-top .slider img {
  width: 100%;
  margin: auto;
}
/* line 17, ../sass/_home.scss */
.section-top .slider .text_slider {
  width: 45%;
  position: absolute;
  top: 40%;
  right: 2px;
  color: #fff;
}
/* line 24, ../sass/_home.scss */
.section-top .slider .text_slider h2 {
  font-weight: 400;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}
/* line 31, ../sass/_home.scss */
.section-top .slider .text_slider p {
  font-size: 1em;
  margin: 5px 0;
}
/* line 37, ../sass/_home.scss */
.section-top .slider .sl2 {
  left: 0;
}

/* line 1, ../sass/_section_primaire.scss */
.section-primaire {
  background: #fff;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  width: 100%;
}

/* line 1, ../sass/_product_card.scss */
.products {
  width: 100%;
  padding-bottom: 10px;
}
/* line 5, ../sass/_product_card.scss */
.products .product {
  position: relative;
  border-radius: 10px;
  margin: 5px;
  background: #fff;
}
/* line 10, ../sass/_product_card.scss */
.products .product .promo,
.products .product .like {
  position: absolute;
  top: 10px;
}
/* line 16, ../sass/_product_card.scss */
.products .product .promo {
  left: 10px;
  padding: 5px;
  border-radius: 5px;
  background: #e29578;
  color: #fff;
}
/* line 24, ../sass/_product_card.scss */
.products .product .like {
  right: 10px;
  background: #ffddd2;
  padding: 5px;
  border-radius: 50%;
}
/* line 31, ../sass/_product_card.scss */
.products .product img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
/* line 37, ../sass/_product_card.scss */
.products .product .detaille {
  width: 100%;
}
/* line 40, ../sass/_product_card.scss */
.products .product .detaille .title-price {
  padding: 5px;
  margin-left: 5px;
}
/* line 44, ../sass/_product_card.scss */
.products .product .detaille .title-price h3 {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  font-weight: 200;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* line 54, ../sass/_product_card.scss */
.products .product .detaille .title-price p {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  font-size: 1.2em;
  font-weight: 400;
}
/* line 63, ../sass/_product_card.scss */
.products .product .detaille .review-buy {
  height: 48px;
  line-height: 20px;
  padding: 5px;
}
/* line 68, ../sass/_product_card.scss */
.products .product .detaille .review-buy span, .products .product .detaille .review-buy a {
  display: inline-block;
}
/* line 72, ../sass/_product_card.scss */
.products .product .detaille .review-buy span {
  margin-top: 10px;
}
/* line 75, ../sass/_product_card.scss */
.products .product .detaille .review-buy span i {
  color: orange;
}
/* line 80, ../sass/_product_card.scss */
.products .product .detaille .review-buy .new {
  color: #e29578;
  margin-left: 10px;
}
/* line 85, ../sass/_product_card.scss */
.products .product .detaille .review-buy a {
  float: right;
  bottom: 3px;
  right: 3px;
  font-size: 1.2em;
}
/* line 94, ../sass/_product_card.scss */
.products .product:hover {
  width: 17%;
  margin: 2.5px;
}

/* line 1, ../sass/_admin.scss */
.admin {
  background: #fff;
  padding: 10px;
}
/* line 5, ../sass/_admin.scss */
.admin .utils {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* line 11, ../sass/_admin.scss */
.admin .utils h2 {
  flex-grow: 2;
  margin: 0;
  padding: 0;
  float: left;
  font-size: 1.4em;
  font-weight: 400;
}
/* line 19, ../sass/_admin.scss */
.admin .utils form {
  flex-grow: 6;
  margin-right: 10px;
  text-align: right;
}
/* line 24, ../sass/_admin.scss */
.admin .utils form input {
  margin: 0;
  width: 50%;
}
/* line 29, ../sass/_admin.scss */
.admin .utils form button {
  cursor: pointer;
  border: none;
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;
  background: #006d77;
}
/* line 39, ../sass/_admin.scss */
.admin .utils .links {
  flex-grow: 1;
  padding: 5px;
  text-align: right;
}
/* line 47, ../sass/_admin.scss */
.admin .form {
  width: 50%;
  padding: 5px;
  margin: auto;
}

/* line 56, ../sass/_admin.scss */
.dashboard .title-marked {
  margin: 5px;
}
/* line 58, ../sass/_admin.scss */
.dashboard .title-marked span {
  padding: 3px;
  font-size: .8em;
}
/* line 62, ../sass/_admin.scss */
.dashboard .title-marked .vente-note {
  color: #1b6d1b;
  padding: 2px;
  font-size: .8em;
  background: #befabe;
  border-radius: 3px;
}
/* line 71, ../sass/_admin.scss */
.dashboard .item {
  margin: 5px;
  padding: 10px;
  color: #3f3e3e;
}
/* line 76, ../sass/_admin.scss */
.dashboard .item div, .dashboard .item .nombre {
  display: block;
}
/* line 79, ../sass/_admin.scss */
.dashboard .item .nombre {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 2em;
  font-weight: 500;
  border-radius: 50%;
  text-align: center;
  color: #3f3e3e;
}
/* line 91, ../sass/_admin.scss */
.dashboard .table-infos {
  margin: 5px;
}
/* line 95, ../sass/_admin.scss */
.dashboard .table-infos table tr {
  height: 20px;
}
/* line 97, ../sass/_admin.scss */
.dashboard .table-infos table tr td {
  padding-left: 10px;
  font-size: .9em;
}
/* line 100, ../sass/_admin.scss */
.dashboard .table-infos table tr td img {
  height: 19px;
}
/* line 107, ../sass/_admin.scss */
.dashboard .table-infos table tfoot a {
  font-size: .8em;
  float: right;
}

/* line 2, ../sass/_profile.scss */
.profile .grille {
  padding: 10px;
}
/* line 5, ../sass/_profile.scss */
.profile .grille .personal-infos {
  border-right: 1px solid #999696;
  padding: 5px;
  text-align: center;
}
/* line 10, ../sass/_profile.scss */
.profile .grille .personal-infos img {
  width: 80%;
  border-radius: 50%;
}
/* line 15, ../sass/_profile.scss */
.profile .grille .personal-infos h2 {
  font-size: 1.5em;
  font-weight: 500;
  margin: 5px;
}
/* line 20, ../sass/_profile.scss */
.profile .grille .personal-infos h3 {
  margin: 2px;
  font-size: .9em;
  font-weight: 300;
  color: #3f3e3e;
}
/* line 27, ../sass/_profile.scss */
.profile .grille .personal-infos hr {
  color: #edf6f9;
  border: 1px solid #edf6f9;
}
/* line 32, ../sass/_profile.scss */
.profile .grille .personal-infos .infos-complement {
  text-align: left;
  font-size: .9em;
}
/* line 36, ../sass/_profile.scss */
.profile .grille .personal-infos .infos-complement em {
  color: #3f3e3e;
}
/* line 43, ../sass/_profile.scss */
.profile .grille .profile-infos ul {
  width: 98%;
  margin: auto;
  border-bottom: 1px solid #edf6f9;
}
/* line 48, ../sass/_profile.scss */
.profile .grille .profile-infos ul li {
  display: inline-block;
  padding: 5px;
  list-style-type: none;
  border: 2px solid #fff;
}
/* line 54, ../sass/_profile.scss */
.profile .grille .profile-infos ul li a {
  color: #3f3e3e;
}
/* line 58, ../sass/_profile.scss */
.profile .grille .profile-infos ul li:hover {
  border-bottom: 2px solid #3f3e3e;
}
/* line 64, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille {
  padding: 10px;
}
/* line 66, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille h2 {
  margin: 5px;
  font-size: 1em;
  font-weight: 400;
}
/* line 73, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille .commandes {
  width: 100%;
  margin-top: 10%;
  text-align: center;
}
/* line 78, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille .commandes p {
  font-size: .9em;
  color: #999696;
}
/* line 84, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille form {
  width: 50%;
  margin: auto;
}
/* line 89, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille .item {
  border: 1px solid #999696;
}
/* line 92, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille .item em {
  font-size: .6em !important;
  color: #3f3e3e;
}
/* line 97, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille .item .title-marked-b {
  float: right;
  right: 5px;
}
/* line 101, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille .item .title-marked-b a {
  font-size: .8em;
  color: #006d77;
}
/* line 105, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille .item .title-marked-b a:hover {
  text-decoration: underline;
}
/* line 113, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille .toHome {
  margin-top: 10px;
  margin-left: 37%;
}

/* line 1, ../sass/_specialTable.scss */
.table-liste-infos {
  width: 100%;
  padding: 5px;
}
/* line 5, ../sass/_specialTable.scss */
.table-liste-infos table {
  width: 90%;
  margin: auto;
}
/* line 8, ../sass/_specialTable.scss */
.table-liste-infos table .suffix {
  color: #999696;
}
/* line 12, ../sass/_specialTable.scss */
.table-liste-infos table thead tr {
  padding: 5px;
}
/* line 14, ../sass/_specialTable.scss */
.table-liste-infos table thead tr th {
  color: #999696;
  text-transform: uppercase;
  font-size: .8em;
}
/* line 23, ../sass/_specialTable.scss */
.table-liste-infos table tbody tr {
  padding-top: 5px;
  height: auto;
}
/* line 27, ../sass/_specialTable.scss */
.table-liste-infos table tbody tr:hover {
  background: #edf6f9;
}
/* line 31, ../sass/_specialTable.scss */
.table-liste-infos table tbody tr td {
  width: auto;
  word-wrap: none;
  word-break: none;
  font-size: .9em;
  text-align: center;
}
/* line 38, ../sass/_specialTable.scss */
.table-liste-infos table tbody tr td img {
  height: 50px;
}
/* line 41, ../sass/_specialTable.scss */
.table-liste-infos table tbody tr td a {
  color: #006d77;
}
/* line 45, ../sass/_specialTable.scss */
.table-liste-infos table tbody tr td input[type="number"] {
  width: 50px;
  height: 30px;
  border: 1px solid #999696;
  border-radius: 5px;
  text-align: center;
  font-size: .9em;
}
/* line 54, ../sass/_specialTable.scss */
.table-liste-infos table tbody tr td .btn {
  padding: .2em;
  font-size: .9em;
  border: none;
}
/* line 59, ../sass/_specialTable.scss */
.table-liste-infos table tbody tr td .supp {
  background: #fff;
}
/* line 67, ../sass/_specialTable.scss */
.table-liste-infos table tfoot td {
  font-size: .9em;
}
/* line 70, ../sass/_specialTable.scss */
.table-liste-infos table tfoot p {
  font-size: .8em;
}
/* line 73, ../sass/_specialTable.scss */
.table-liste-infos table tfoot .tot {
  text-align: right;
}
/* line 77, ../sass/_specialTable.scss */
.table-liste-infos table tfoot .btn {
  font-size: .9em;
  padding: .3em;
}

/* line 85, ../sass/_specialTable.scss */
.admin-table-list {
  padding: 10px;
}
/* line 87, ../sass/_specialTable.scss */
.admin-table-list table {
  width: 100%;
  margin: auto;
}
/* line 93, ../sass/_specialTable.scss */
.admin-table-list table thead tr th {
  text-align: left;
  color: #999696;
  text-transform: uppercase;
  font-weight: 500;
}
/* line 104, ../sass/_specialTable.scss */
.admin-table-list table tbody tr td img {
  width: 40px;
}
/* line 108, ../sass/_specialTable.scss */
.admin-table-list table tbody tr #lastTd {
  text-align: right;
}

/* line 1, ../sass/_singleSide.scss */
.singleSide {
  padding: 10px;
  border-left: 1px solid #999696;
}
/* line 4, ../sass/_singleSide.scss */
.singleSide h2 {
  margin: 5px;
  padding: 0;
  padding-bottom: 10px;
  font-size: 1.1em;
  font-weight: 400;
  color: #3f3e3e;
  border-bottom: 1px solid #edf6f9;
}
/* line 13, ../sass/_singleSide.scss */
.singleSide h3 {
  font-size: .9em;
  font-weight: 500;
  color: #e29578;
}
/* line 18, ../sass/_singleSide.scss */
.singleSide p {
  padding: 5px;
  background: #edf6f9;
  border-left: 3px solid #006d77;
  font-size: .8em;
}
/* line 24, ../sass/_singleSide.scss */
.singleSide p span {
  color: #1b6d1b;
  font-style: italic;
}
/* line 29, ../sass/_singleSide.scss */
.singleSide .btn-lib {
  width: 100%;
  text-align: center;
}

/* line 2, ../sass/_panier.scss */
.panier .grille {
  padding: 10px;
}
/* line 7, ../sass/_panier.scss */
.panier .chipping-infos h2 {
  font-size: 1.5em;
}
/* line 10, ../sass/_panier.scss */
.panier .chipping-infos .grix {
  width: 50%;
  margin: auto;
}
/* line 14, ../sass/_panier.scss */
.panier .chipping-infos .grix button {
  width: 100%;
  background: #006d77;
  color: #fff;
  border: 1px solid #006d77;
  font-size: 1.3em;
}
/* line 22, ../sass/_panier.scss */
.panier .chipping-infos .grix .btn-green {
  background: #1b6d1b;
}
/* line 27, ../sass/_panier.scss */
.panier .chipping-infos #map {
  text-align: center;
}
/* line 29, ../sass/_panier.scss */
.panier .chipping-infos #map iframe {
  width: 70%;
}
/* line 34, ../sass/_panier.scss */
.panier .chipping-infos .not_connected {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
/* line 39, ../sass/_panier.scss */
.panier .chipping-infos .not_connected p a {
  color: #014e55;
}

/* line 1, ../sass/_primarySection.scss */
.primary-section {
  background: #fff;
}
/* line 3, ../sass/_primarySection.scss */
.primary-section header {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #edf6f9;
}
/* line 8, ../sass/_primarySection.scss */
.primary-section header a, .primary-section header h1 {
  display: inline;
}
/* line 11, ../sass/_primarySection.scss */
.primary-section header h1 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 400;
}
/* line 17, ../sass/_primarySection.scss */
.primary-section header a {
  margin: 0;
  padding: 0;
  font-size: .9em;
  text-transform: uppercase;
  float: right;
}

/* line 1, ../sass/_productPage.scss */
.product_page {
  display: grid;
  grid-template-columns: 1fr 25%;
  grid-template-rows: auto;
  padding: 1rem;
  margin: 1rem;
  grid-column-gap: 1rem;
}
/* line 9, ../sass/_productPage.scss */
.product_page .product_grix_info {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "product_image product_image" "product_info product_info";
  grid-column-gap: 1rem;
  background: #fff;
  padding: 0.5em;
}
/* line 20, ../sass/_productPage.scss */
.product_page .product_grix_info .product_image {
  height: 300px;
  max-height: 500px;
}
/* line 25, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info {
  padding: 10px;
}
/* line 28, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .product_name {
  margin: 0;
}
/* line 31, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .product_name h2 {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  font-weight: 400;
}
/* line 39, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .category {
  font-size: .8em;
}
/* line 42, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .category p {
  margin: 2px;
  padding: 0;
}
/* line 45, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .category p a {
  color: blue;
}
/* line 48, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .category p a:hover {
  text-decoration: underline;
}
/* line 54, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .reviews {
  display: flex;
}
/* line 57, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .reviews .stars_rating {
  margin: 5px;
}
/* line 61, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .reviews .note_moyene {
  margin: 5px;
}
/* line 64, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .reviews .note_moyene .rating_value {
  font-size: .8em;
}
/* line 67, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .reviews .note_moyene .nbr_rating {
  color: #006d77;
  font-size: .9em;
}
/* line 77, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .addToCart .quantity_input {
  position: relative;
  line-height: 1.2em;
  float: left;
  left: 20px;
  bottom: 5px;
}
/* line 83, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .addToCart .quantity_input input[type="number"] {
  width: 40px;
  height: 30px;
  border: 1px solid #006d77;
  padding: 5px;
  text-align: center;
  -moz-appearance: textfield;
}
/* line 91, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .addToCart .quantity_input input[type="number"]::-webkit-inner-spin-button,
.product_page .product_grix_info .product_info .addToCart .quantity_input input[type="number"] ::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* line 97, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .addToCart .quantity_input #moin, .product_page .product_grix_info .product_info .addToCart .quantity_input #plus {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  width: 25px;
  height: 30px;
  background: #006d77;
  font-size: 1.2em;
  color: #fff;
  margin: 0;
  padding: 4px;
}
/* line 111, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .addToCart .btn {
  float: right;
  right: 5px;
  bottom: 5px;
}
/* line 120, ../sass/_productPage.scss */
.product_page .comment-section {
  padding-top: 5px;
}
/* line 122, ../sass/_productPage.scss */
.product_page .comment-section h2 {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
  color: #3f3e3e;
}
/* line 129, ../sass/_productPage.scss */
.product_page .comment-section .content {
  padding: 10px;
  padding-top: 0;
  margin-top: 0;
}
/* line 134, ../sass/_productPage.scss */
.product_page .comment-section .content .commente_form {
  width: 100%;
  margin-bottom: 10px;
}
/* line 138, ../sass/_productPage.scss */
.product_page .comment-section .content .commente_form .star-hovered {
  height: 20px;
  color: #999696;
  font-size: 1em;
  text-align: center;
  margin: 2px;
}
/* line 145, ../sass/_productPage.scss */
.product_page .comment-section .content .commente_form .stars_form {
  width: 50%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
/* line 152, ../sass/_productPage.scss */
.product_page .comment-section .content .commente_form .stars_form i {
  font-size: 1.5em;
  padding: 5px;
  cursor: pointer;
}
/* line 159, ../sass/_productPage.scss */
.product_page .comment-section .content .commente_form form {
  width: 50%;
  margin: auto;
}
/* line 163, ../sass/_productPage.scss */
.product_page .comment-section .content .commente_form form textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #999696;
  border-radius: 5px;
  resize: none;
  outline: none;
  font-size: 1em;
  background: #fff;
}
/* line 175, ../sass/_productPage.scss */
.product_page .comment-section .content .commente_form form .btn {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background: #006d77;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}
/* line 189, ../sass/_productPage.scss */
.product_page .comment-section .content .commentairs {
  width: 90%;
  margin: auto;
  margin-top: 30px;
}
/* line 194, ../sass/_productPage.scss */
.product_page .comment-section .content .commentairs .commentair {
  width: 100%;
  margin: auto;
  padding: 5px;
  position: relative;
  border-bottom: 1px solid #999696;
}
/* line 202, ../sass/_productPage.scss */
.product_page .comment-section .content .commentairs .commentair .reviews div {
  float: left;
}
/* line 206, ../sass/_productPage.scss */
.product_page .comment-section .content .commentairs .commentair .reviews span {
  font-size: 1.1em;
  font-style: italic;
  font-weight: lighter;
}
/* line 214, ../sass/_productPage.scss */
.product_page .comment-section .content .commentairs .commentair .commentair_info .commentair_auth h3 {
  font-size: 1.2em;
  font-weight: 300;
  margin: 5px;
  padding: 0;
}
/* line 224, ../sass/_productPage.scss */
.product_page .comment-section .content .commentairs .commentair .commentair_info .commentair_content p {
  font-size: 1em;
  margin: 5px;
  padding: 0;
}
/* line 232, ../sass/_productPage.scss */
.product_page .comment-section .content .commentairs .commentair .commentair_date {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}
/* line 237, ../sass/_productPage.scss */
.product_page .comment-section .content .commentairs .commentair .commentair_date em {
  font-size: .8em;
  margin-right: 5px;
}
/* line 241, ../sass/_productPage.scss */
.product_page .comment-section .content .commentairs .commentair .commentair_date .acv {
  margin: 5px;
  width: fit-content;
  font-size: .8em;
  padding: 3px;
  border-radius: 3px;
  color: #1b6d1b;
  background: #befabe;
}
/* line 251, ../sass/_productPage.scss */
.product_page .comment-section .content .commentairs .commentair .commentair_date .delete {
  float: right;
  color: red;
  font-size: 1em;
  padding: 3px;
  border-radius: 2px;
}
/* line 257, ../sass/_productPage.scss */
.product_page .comment-section .content .commentairs .commentair .commentair_date .delete:hover {
  background: #f5f5f5;
}

/* line 1, ../sass/_loader.scss */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 12, ../sass/_loader.scss */
.loader .lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 84px;
  height: 84px;
}
/* line 18, ../sass/_loader.scss */
.loader .lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background: #006d77;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
/* line 27, ../sass/_loader.scss */
.loader .lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
/* line 31, ../sass/_loader.scss */
.loader .lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
/* line 35, ../sass/_loader.scss */
.loader .lds-ellipsis div:nth-child(3) {
  left: 46px;
  animation: lds-ellipsis2 0.6s infinite;
}
/* line 39, ../sass/_loader.scss */
.loader .lds-ellipsis div:nth-child(4) {
  left: 65px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(39px);
  }
}
/* line 1, ../sass/_identify.scss */
.connection {
  background: #fff;
}
/* line 3, ../sass/_identify.scss */
.connection .form {
  width: 50%;
  margin: auto;
  padding: 5px;
}
/* line 8, ../sass/_identify.scss */
.connection .form form {
  width: 70%;
  margin: auto;
}
/* line 12, ../sass/_identify.scss */
.connection .form form label {
  color: #006d77;
}
/* line 15, ../sass/_identify.scss */
.connection .form form input {
  height: 50px;
  border: 1px solid #999696;
  transition-duration: 0.3s;
}
/* line 20, ../sass/_identify.scss */
.connection .form form input:focus {
  border: 1px solid #006d77 !important;
  box-shadow: none;
}
/* line 25, ../sass/_identify.scss */
.connection .form form .title-form {
  width: 100%;
  text-align: center;
  color: #3f3e3e;
}
/* line 30, ../sass/_identify.scss */
.connection .form form .title-form img {
  width: 70px;
}
/* line 33, ../sass/_identify.scss */
.connection .form form .title-form h2 {
  font-size: 1.5em;
  font-weight: 100;
}
/* line 40, ../sass/_identify.scss */
.connection .form .form-infos {
  width: 70%;
  margin: auto;
  text-align: center;
}
/* line 45, ../sass/_identify.scss */
.connection .form .form-infos p {
  font-size: .9em;
}
/* line 48, ../sass/_identify.scss */
.connection .form .form-infos p a {
  color: blue;
}
/* line 51, ../sass/_identify.scss */
.connection .form .form-infos p a:hover {
  color: #006d77;
  text-decoration: underline;
}

/* line 26, ../sass/screen.scss */
body {
  background: #f5f5f5;
}
/* line 29, ../sass/screen.scss */
body .hidden {
  display: none;
}
/* line 33, ../sass/screen.scss */
body .primary {
  background: #006d77;
}
/* line 37, ../sass/screen.scss */
body .primary-dark {
  background: #014e55;
}
