@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
/* line 6, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 1, ../sass/_header.scss */
header {
  margin: 0;
  padding: 0;
}
/* line 5, ../sass/_header.scss */
header nav {
  height: 60px;
  line-height: 58px;
  background: #006d77;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 16, ../sass/_header.scss */
header nav .logo {
  flex-grow: 2;
  height: 58px;
  margin-top: 10px;
}
/* line 21, ../sass/_header.scss */
header nav .logo img {
  width: 170px;
  color: #fff;
}
/* line 27, ../sass/_header.scss */
header nav #search {
  flex-grow: 4;
  margin-top: 3px;
}
/* line 31, ../sass/_header.scss */
header nav #search input {
  background-color: #fff;
  border: 1px solid #fff;
  color: black;
}
/* line 38, ../sass/_header.scss */
header nav ul {
  flex-grow: 4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
/* line 45, ../sass/_header.scss */
header nav ul li {
  flex-direction: end;
  list-style-type: none;
  margin-left: 20px;
  font-size: 1.2em;
}
/* line 52, ../sass/_header.scss */
header nav ul li a {
  position: relative;
  padding: 5px;
  border-radius: 4px;
}
/* line 57, ../sass/_header.scss */
header nav ul li a:after {
  content: "";
  position: absolute;
  bottom: -.1em;
  left: 0;
  width: 100%;
  height: 2px;
  transform-origin: center;
  background: #fff;
  transform: scaleX(0);
  transition: 300ms ease;
}
/* line 71, ../sass/_header.scss */
header nav ul li a:hover:after {
  transform: scaleX(1);
}
/* line 82, ../sass/_header.scss */
header nav ul .dropdown_parent a:after {
  width: 110%;
}
/* line 87, ../sass/_header.scss */
header nav ul .dropdown_parent .dropdown_enfant {
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  background: #014e55;
}
/* line 94, ../sass/_header.scss */
header nav ul .dropdown_parent .dropdown_enfant li {
  font-size: .9em;
  display: block;
  flex-direction: start;
  padding: 3px;
  margin: 0;
}
/* line 102, ../sass/_header.scss */
header nav ul .dropdown_parent .dropdown_enfant li a:after {
  left: 0;
}
/* line 112, ../sass/_header.scss */
header nav ul .dropdown_parent:hover .dropdown_enfant {
  display: block;
  z-index: 5;
}
/* line 118, ../sass/_header.scss */
header nav ul .dropdown_parent:after {
  content: "▼";
  font-size: .7em;
}
/* line 124, ../sass/_header.scss */
header nav ul .panier {
  font-size: 1.6em;
  margin-left: 0;
  position: relative;
}
/* line 129, ../sass/_header.scss */
header nav ul .panier a:hover {
  background: #014e55;
}
/* line 132, ../sass/_header.scss */
header nav ul .panier a:hover:after {
  transform: scaleX(0);
}
/* line 138, ../sass/_header.scss */
header nav ul .panier .badge {
  position: absolute;
  text-align: center;
  width: 15px;
  height: 15px;
  line-height: 14px;
  padding: 0;
  top: 10px;
  right: -5px;
  font-size: .6em;
  background: #e29578;
  border-radius: 50%;
}
/* line 153, ../sass/_header.scss */
header nav ul .dropdown_parent {
  display: block;
}

/* line 161, ../sass/_header.scss */
.btn-ev {
  background: #e29578;
  border: 1px solid #e29578;
}

/* line 166, ../sass/_header.scss */
.btn {
  background: #006d77;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  font-size: 1em;
  padding: .5em;
}

/* line 1, ../sass/_home.scss */
.section-top {
  width: 100%;
  padding: 0;
  margin: 0;
  background: #006d77;
}
/* line 7, ../sass/_home.scss */
.section-top .slider {
  width: 75%;
  margin: auto;
  position: relative;
}
/* line 12, ../sass/_home.scss */
.section-top .slider img {
  width: 100%;
  margin: auto;
}
/* line 17, ../sass/_home.scss */
.section-top .slider .text_slider {
  width: 45%;
  position: absolute;
  top: 40%;
  right: 2px;
  color: #fff;
}
/* line 24, ../sass/_home.scss */
.section-top .slider .text_slider h2 {
  font-weight: 400;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}
/* line 31, ../sass/_home.scss */
.section-top .slider .text_slider p {
  font-size: 1em;
  margin: 5px 0;
}
/* line 37, ../sass/_home.scss */
.section-top .slider .sl2 {
  left: 0;
}

/* line 1, ../sass/_section_primaire.scss */
.section-primaire {
  background: #fff;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  width: 100%;
}

/* line 1, ../sass/_product_card.scss */
.products {
  width: 100%;
  padding-bottom: 10px;
}
/* line 5, ../sass/_product_card.scss */
.products .product {
  position: relative;
  border-radius: 10px;
  margin: 5px;
  background: #fff;
}
/* line 10, ../sass/_product_card.scss */
.products .product .promo,
.products .product .like {
  position: absolute;
  top: 10px;
}
/* line 16, ../sass/_product_card.scss */
.products .product .promo {
  left: 10px;
  padding: 5px;
  border-radius: 5px;
  background: #e29578;
  color: #fff;
}
/* line 24, ../sass/_product_card.scss */
.products .product .like {
  right: 10px;
  background: #ffddd2;
  padding: 5px;
  border-radius: 50%;
}
/* line 31, ../sass/_product_card.scss */
.products .product img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
/* line 37, ../sass/_product_card.scss */
.products .product .detaille {
  width: 100%;
}
/* line 40, ../sass/_product_card.scss */
.products .product .detaille .title-price {
  padding: 5px;
  margin-left: 5px;
}
/* line 44, ../sass/_product_card.scss */
.products .product .detaille .title-price h3 {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  font-weight: 200;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* line 54, ../sass/_product_card.scss */
.products .product .detaille .title-price p {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  font-size: 1.2em;
  font-weight: 400;
}
/* line 63, ../sass/_product_card.scss */
.products .product .detaille .review-buy {
  height: 48px;
  line-height: 20px;
  padding: 5px;
}
/* line 68, ../sass/_product_card.scss */
.products .product .detaille .review-buy span, .products .product .detaille .review-buy a {
  display: inline-block;
}
/* line 72, ../sass/_product_card.scss */
.products .product .detaille .review-buy span {
  margin-top: 10px;
}
/* line 75, ../sass/_product_card.scss */
.products .product .detaille .review-buy span i {
  color: orange;
}
/* line 80, ../sass/_product_card.scss */
.products .product .detaille .review-buy .new {
  color: #e29578;
  margin-left: 10px;
}
/* line 85, ../sass/_product_card.scss */
.products .product .detaille .review-buy a {
  float: right;
  bottom: 3px;
  right: 3px;
  font-size: 1.2em;
}
/* line 94, ../sass/_product_card.scss */
.products .product:hover {
  width: 17%;
  margin: 2.5px;
}

/* line 1, ../sass/_admin.scss */
.admin {
  background: #fff;
  padding: 10px;
}
/* line 5, ../sass/_admin.scss */
.admin .utils {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* line 11, ../sass/_admin.scss */
.admin .utils h2 {
  flex-grow: 2;
  margin: 0;
  padding: 0;
  float: left;
  font-size: 1.4em;
  font-weight: 400;
}
/* line 19, ../sass/_admin.scss */
.admin .utils form {
  flex-grow: 6;
  margin-right: 10px;
  text-align: right;
}
/* line 24, ../sass/_admin.scss */
.admin .utils form input {
  margin: 0;
  width: 50%;
}
/* line 29, ../sass/_admin.scss */
.admin .utils form button {
  cursor: pointer;
  border: none;
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;
  background: #006d77;
}
/* line 39, ../sass/_admin.scss */
.admin .utils .links {
  flex-grow: 1;
  padding: 5px;
  text-align: right;
}
/* line 47, ../sass/_admin.scss */
.admin .form {
  width: 50%;
  padding: 5px;
  margin: auto;
}

/* line 56, ../sass/_admin.scss */
.dashboard .title-marked {
  margin: 5px;
}
/* line 58, ../sass/_admin.scss */
.dashboard .title-marked span {
  padding: 3px;
  font-size: .8em;
}
/* line 62, ../sass/_admin.scss */
.dashboard .title-marked .vente-note {
  color: #1b6d1b;
  padding: 2px;
  font-size: .8em;
  background: #befabe;
  border-radius: 3px;
}
/* line 71, ../sass/_admin.scss */
.dashboard .item {
  margin: 5px;
  padding: 10px;
  color: #3f3e3e;
}
/* line 76, ../sass/_admin.scss */
.dashboard .item div, .dashboard .item .nombre {
  display: block;
}
/* line 79, ../sass/_admin.scss */
.dashboard .item .nombre {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 2em;
  font-weight: 500;
  border-radius: 50%;
  text-align: center;
  color: #3f3e3e;
}
/* line 91, ../sass/_admin.scss */
.dashboard .table-infos {
  margin: 5px;
}
/* line 95, ../sass/_admin.scss */
.dashboard .table-infos table tr {
  height: 20px;
}
/* line 97, ../sass/_admin.scss */
.dashboard .table-infos table tr td {
  padding-left: 10px;
  font-size: .9em;
}
/* line 100, ../sass/_admin.scss */
.dashboard .table-infos table tr td img {
  height: 19px;
}
/* line 107, ../sass/_admin.scss */
.dashboard .table-infos table tfoot a {
  font-size: .8em;
  float: right;
}

/* line 2, ../sass/_profile.scss */
.profile .grille {
  padding: 10px;
}
/* line 5, ../sass/_profile.scss */
.profile .grille .personal-infos {
  border-right: 1px solid #999696;
  padding: 5px;
  text-align: center;
}
/* line 10, ../sass/_profile.scss */
.profile .grille .personal-infos img {
  width: 80%;
  border-radius: 50%;
}
/* line 15, ../sass/_profile.scss */
.profile .grille .personal-infos h2 {
  font-size: 1.5em;
  font-weight: 500;
  margin: 5px;
}
/* line 20, ../sass/_profile.scss */
.profile .grille .personal-infos h3 {
  margin: 2px;
  font-size: .9em;
  font-weight: 300;
  color: #3f3e3e;
}
/* line 27, ../sass/_profile.scss */
.profile .grille .personal-infos hr {
  color: #edf6f9;
  border: 1px solid #edf6f9;
}
/* line 32, ../sass/_profile.scss */
.profile .grille .personal-infos .infos-complement {
  text-align: left;
  font-size: .9em;
}
/* line 36, ../sass/_profile.scss */
.profile .grille .personal-infos .infos-complement em {
  color: #3f3e3e;
}
/* line 43, ../sass/_profile.scss */
.profile .grille .profile-infos ul {
  width: 98%;
  margin: auto;
  border-bottom: 1px solid #edf6f9;
}
/* line 48, ../sass/_profile.scss */
.profile .grille .profile-infos ul li {
  display: inline-block;
  padding: 5px;
  list-style-type: none;
  border: 2px solid #fff;
}
/* line 54, ../sass/_profile.scss */
.profile .grille .profile-infos ul li a {
  color: #3f3e3e;
}
/* line 58, ../sass/_profile.scss */
.profile .grille .profile-infos ul li:hover {
  border-bottom: 2px solid #3f3e3e;
}
/* line 64, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille {
  padding: 10px;
}
/* line 66, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille h2 {
  margin: 5px;
  font-size: 1em;
  font-weight: 400;
}
/* line 73, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille .commandes {
  width: 100%;
  margin-top: 10%;
  text-align: center;
}
/* line 78, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille .commandes p {
  font-size: .9em;
  color: #999696;
}
/* line 84, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille form {
  width: 50%;
  margin: auto;
}
/* line 89, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille .item {
  border: 1px solid #999696;
}
/* line 92, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille .item em {
  font-size: .6em !important;
  color: #3f3e3e;
}
/* line 97, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille .item .title-marked-b {
  float: right;
  right: 5px;
}
/* line 101, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille .item .title-marked-b a {
  font-size: .8em;
  color: #006d77;
}
/* line 105, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille .item .title-marked-b a:hover {
  text-decoration: underline;
}
/* line 113, ../sass/_profile.scss */
.profile .grille .profile-infos .profile-detaille .toHome {
  margin-top: 10px;
  margin-left: 37%;
}

/* line 1, ../sass/_specialTable.scss */
.table-liste-infos {
  width: 100%;
  padding: 5px;
}
/* line 5, ../sass/_specialTable.scss */
.table-liste-infos table {
  width: 90%;
  margin: auto;
}
/* line 8, ../sass/_specialTable.scss */
.table-liste-infos table .suffix {
  color: #999696;
}
/* line 12, ../sass/_specialTable.scss */
.table-liste-infos table thead tr {
  padding: 5px;
}
/* line 14, ../sass/_specialTable.scss */
.table-liste-infos table thead tr th {
  color: #999696;
  text-transform: uppercase;
  font-size: .8em;
}
/* line 23, ../sass/_specialTable.scss */
.table-liste-infos table tbody tr {
  padding-top: 5px;
  height: auto;
}
/* line 27, ../sass/_specialTable.scss */
.table-liste-infos table tbody tr:hover {
  background: #edf6f9;
}
/* line 31, ../sass/_specialTable.scss */
.table-liste-infos table tbody tr td {
  width: auto;
  word-wrap: none;
  word-break: none;
  font-size: .9em;
  text-align: center;
}
/* line 38, ../sass/_specialTable.scss */
.table-liste-infos table tbody tr td img {
  height: 50px;
}
/* line 41, ../sass/_specialTable.scss */
.table-liste-infos table tbody tr td a {
  color: #006d77;
}
/* line 45, ../sass/_specialTable.scss */
.table-liste-infos table tbody tr td input[type="number"] {
  width: 50px;
  height: 30px;
  border: 1px solid #999696;
  border-radius: 5px;
  text-align: center;
  font-size: .9em;
}
/* line 54, ../sass/_specialTable.scss */
.table-liste-infos table tbody tr td .btn {
  padding: .2em;
  font-size: .9em;
  border: none;
}
/* line 59, ../sass/_specialTable.scss */
.table-liste-infos table tbody tr td .supp {
  background: #fff;
}
/* line 67, ../sass/_specialTable.scss */
.table-liste-infos table tfoot td {
  font-size: .9em;
}
/* line 70, ../sass/_specialTable.scss */
.table-liste-infos table tfoot p {
  font-size: .8em;
}
/* line 73, ../sass/_specialTable.scss */
.table-liste-infos table tfoot .tot {
  text-align: right;
}
/* line 77, ../sass/_specialTable.scss */
.table-liste-infos table tfoot .btn {
  font-size: .9em;
  padding: .3em;
}

/* line 85, ../sass/_specialTable.scss */
.admin-table-list {
  padding: 10px;
}
/* line 87, ../sass/_specialTable.scss */
.admin-table-list table {
  width: 100%;
  margin: auto;
}
/* line 93, ../sass/_specialTable.scss */
.admin-table-list table thead tr th {
  text-align: left;
  color: #999696;
  text-transform: uppercase;
  font-weight: 500;
}
/* line 104, ../sass/_specialTable.scss */
.admin-table-list table tbody tr td img {
  width: 40px;
}
/* line 108, ../sass/_specialTable.scss */
.admin-table-list table tbody tr #lastTd {
  text-align: right;
}

/* line 1, ../sass/_singleSide.scss */
.singleSide {
  padding: 10px;
  border-left: 1px solid #999696;
}
/* line 4, ../sass/_singleSide.scss */
.singleSide h2 {
  margin: 5px;
  padding: 0;
  padding-bottom: 10px;
  font-size: 1.1em;
  font-weight: 400;
  color: #3f3e3e;
  border-bottom: 1px solid #edf6f9;
}
/* line 13, ../sass/_singleSide.scss */
.singleSide h3 {
  font-size: .9em;
  font-weight: 500;
  color: #e29578;
}
/* line 18, ../sass/_singleSide.scss */
.singleSide p {
  padding: 5px;
  background: #edf6f9;
  border-left: 3px solid #006d77;
  font-size: .8em;
}
/* line 24, ../sass/_singleSide.scss */
.singleSide p span {
  color: #1b6d1b;
  font-style: italic;
}
/* line 29, ../sass/_singleSide.scss */
.singleSide .btn-lib {
  width: 100%;
  text-align: center;
}

/* line 1, ../sass/_panier.scss */
.grille {
  padding: 10px;
}

/* line 1, ../sass/_primarySection.scss */
.primary-section {
  background: #fff;
}
/* line 3, ../sass/_primarySection.scss */
.primary-section header {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #edf6f9;
}
/* line 8, ../sass/_primarySection.scss */
.primary-section header a, .primary-section header h1 {
  display: inline;
}
/* line 11, ../sass/_primarySection.scss */
.primary-section header h1 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 400;
}
/* line 17, ../sass/_primarySection.scss */
.primary-section header a {
  margin: 0;
  padding: 0;
  font-size: .9em;
  text-transform: uppercase;
  float: right;
}

/* line 1, ../sass/_productPage.scss */
.product_page {
  display: grid;
  grid-template-columns: 1fr 25%;
  grid-template-rows: auto;
  padding: 1rem;
  margin: 1rem;
  grid-column-gap: 1rem;
}
/* line 9, ../sass/_productPage.scss */
.product_page .product_grix_info {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "product_image product_image" "product_info product_info";
  grid-column-gap: 1rem;
  background: #fff;
  padding: 1rem;
}
/* line 20, ../sass/_productPage.scss */
.product_page .product_grix_info .product_image {
  height: 300px;
  max-height: 500px;
}
/* line 27, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .colors .color_name {
  margin: 0.5rem;
}
/* line 31, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .colors .color_list input[type="radio"] {
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  margin: 4px;
  border-radius: 50%;
  cursor: pointer;
}
/* line 39, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .colors .color_list input[type="radio"]:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 50%;
  opacity: 0.5;
}
/* line 49, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .colors .color_list input[type="radio"]:checked {
  box-shadow: 0 0 5px 0px rgba(26, 26, 26, 0.719);
  border: 2px solid black;
}
/* line 54, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .colors .color_list input[type="radio"]:checked:before {
  opacity: 1;
}
/* line 59, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .colors .color_list .orang {
  border: 1px solid #834f02;
}
/* line 62, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .colors .color_list .orang:before {
  background: orangered;
}
/* line 68, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .colors .color_list .rouge {
  border: 1px solid #790808;
}
/* line 71, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .colors .color_list .rouge:before {
  background: red;
}
/* line 77, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .colors .color_list .jaune {
  border: 1px solid #796e08;
}
/* line 80, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .colors .color_list .jaune:before {
  background: yellow;
}
/* line 86, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .colors .color_list .vert {
  border: 1px solid #2c7908;
}
/* line 89, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .colors .color_list .vert:before {
  background: green;
}
/* line 95, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .colors .color_list .bleu {
  border: 1px solid #085579;
}
/* line 98, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .colors .color_list .bleu:before {
  background: blue;
}
/* line 104, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .colors .color_list .rose {
  border: 1px solid #790846;
}
/* line 107, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .colors .color_list .rose:before {
  background: pink;
}
/* line 113, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .colors .color_list .blanc {
  border: 1px solid #3f3f3f;
}
/* line 116, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .colors .color_list .blanc:before {
  background: white;
}
/* line 124, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .pointures .pointure_name {
  margin: 0.5rem;
}
/* line 129, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .pointures .pointure_list input[type="radio"] {
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
  opacity: 0.5;
}
/* line 137, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .pointures .pointure_list input[type="radio"]:checked {
  opacity: 1;
}
/* line 141, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .pointures .pointure_list input[type="radio"]:hover {
  opacity: 0.7;
}
/* line 148, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .pointures .pointure_list .pointure-36:before {
  content: "36";
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 25%;
  border: 1px solid black;
}
/* line 148, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .pointures .pointure_list .pointure-37:before {
  content: "37";
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 25%;
  border: 1px solid black;
}
/* line 148, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .pointures .pointure_list .pointure-38:before {
  content: "38";
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 25%;
  border: 1px solid black;
}
/* line 148, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .pointures .pointure_list .pointure-39:before {
  content: "39";
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 25%;
  border: 1px solid black;
}
/* line 148, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .pointures .pointure_list .pointure-40:before {
  content: "40";
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 25%;
  border: 1px solid black;
}
/* line 148, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .pointures .pointure_list .pointure-41:before {
  content: "41";
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 25%;
  border: 1px solid black;
}
/* line 148, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .pointures .pointure_list .pointure-42:before {
  content: "42";
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 25%;
  border: 1px solid black;
}
/* line 148, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .pointures .pointure_list .pointure-43:before {
  content: "43";
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 25%;
  border: 1px solid black;
}
/* line 148, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .pointures .pointure_list .pointure-44:before {
  content: "44";
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 25%;
  border: 1px solid black;
}
/* line 148, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .pointures .pointure_list .pointure-45:before {
  content: "45";
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 25%;
  border: 1px solid black;
}
/* line 148, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .pointures .pointure_list .pointure-46:before {
  content: "46";
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 25%;
  border: 1px solid black;
}
/* line 148, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .pointures .pointure_list .pointure-47:before {
  content: "47";
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 25%;
  border: 1px solid black;
}
/* line 148, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .pointures .pointure_list .pointure-48:before {
  content: "48";
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 25%;
  border: 1px solid black;
}
/* line 148, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .pointures .pointure_list .pointure-49:before {
  content: "49";
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 25%;
  border: 1px solid black;
}
/* line 148, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .pointures .pointure_list .pointure-50:before {
  content: "50";
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 25%;
  border: 1px solid black;
}
/* line 148, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .pointures .pointure_list .pointure-51:before {
  content: "51";
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 25%;
  border: 1px solid black;
}
/* line 148, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .pointures .pointure_list .pointure-52:before {
  content: "52";
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 25%;
  border: 1px solid black;
}
/* line 148, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .pointures .pointure_list .pointure-53:before {
  content: "53";
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 25%;
  border: 1px solid black;
}
/* line 148, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .pointures .pointure_list .pointure-54:before {
  content: "54";
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 25%;
  border: 1px solid black;
}
/* line 148, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .pointures .pointure_list .pointure-55:before {
  content: "55";
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 25%;
  border: 1px solid black;
}
/* line 148, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .pointures .pointure_list .pointure-56:before {
  content: "56";
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 25%;
  border: 1px solid black;
}
/* line 162, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .tailles .taille_name {
  margin: 0.5rem;
}
/* line 167, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .tailles .taille_list input[type="radio"] {
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
  opacity: 0.5;
}
/* line 175, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .tailles .taille_list input[type="radio"]:before {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 25%;
  border: 1px solid black;
}
/* line 184, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .tailles .taille_list input[type="radio"]:hover {
  opacity: 0.7;
}
/* line 188, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .tailles .taille_list input[type="radio"]:checked {
  opacity: 1;
}
/* line 195, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .tailles .taille_list #taille-S:before {
  content: "S";
}
/* line 201, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .tailles .taille_list #taille-M:before {
  content: "M";
}
/* line 207, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .tailles .taille_list #taille-L:before {
  content: "L";
}
/* line 213, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .tailles .taille_list #taille-XL:before {
  content: "XL";
}
/* line 218, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .tailles .taille_list #taille-XXL {
  width: 50px;
}
/* line 220, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .tailles .taille_list #taille-XXL:before {
  content: "XXL";
}
/* line 225, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .tailles .taille_list #taille-XXXL {
  width: 60px;
}
/* line 227, ../sass/_productPage.scss */
.product_page .product_grix_info .product_info .tailles .taille_list #taille-XXXL:before {
  content: "XXXL";
}
/* line 236, ../sass/_productPage.scss */
.product_page .comment-section {
  padding-top: 5px;
}
/* line 238, ../sass/_productPage.scss */
.product_page .comment-section h2 {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
  color: #3f3e3e;
}
/* line 245, ../sass/_productPage.scss */
.product_page .comment-section .content {
  padding: 10px;
  padding-top: 0;
  margin-top: 0;
}
/* line 250, ../sass/_productPage.scss */
.product_page .comment-section .content .commente_form {
  width: 100%;
  margin-bottom: 10px;
}
/* line 254, ../sass/_productPage.scss */
.product_page .comment-section .content .commente_form .star-hovered {
  height: 20px;
  color: #999696;
  font-size: 1em;
  text-align: center;
  margin: 2px;
}
/* line 261, ../sass/_productPage.scss */
.product_page .comment-section .content .commente_form .stars_form {
  width: 50%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
/* line 268, ../sass/_productPage.scss */
.product_page .comment-section .content .commente_form .stars_form i {
  font-size: 1.5em;
  padding: 5px;
  cursor: pointer;
}
/* line 275, ../sass/_productPage.scss */
.product_page .comment-section .content .commente_form form {
  width: 50%;
  margin: auto;
}
/* line 279, ../sass/_productPage.scss */
.product_page .comment-section .content .commente_form form textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #999696;
  border-radius: 5px;
  resize: none;
  outline: none;
  font-size: 1em;
  background: #fff;
}
/* line 291, ../sass/_productPage.scss */
.product_page .comment-section .content .commente_form form .btn {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background: #006d77;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}
/* line 305, ../sass/_productPage.scss */
.product_page .comment-section .content .commentairs {
  width: 90%;
  margin: auto;
  margin-top: 30px;
}
/* line 310, ../sass/_productPage.scss */
.product_page .comment-section .content .commentairs .commentair {
  width: 100%;
  margin: auto;
  padding: 5px;
  position: relative;
  border-bottom: 1px solid #999696;
}
/* line 318, ../sass/_productPage.scss */
.product_page .comment-section .content .commentairs .commentair .reviews div {
  float: left;
}
/* line 322, ../sass/_productPage.scss */
.product_page .comment-section .content .commentairs .commentair .reviews span {
  font-size: 1.1em;
  font-style: italic;
  font-weight: lighter;
}
/* line 330, ../sass/_productPage.scss */
.product_page .comment-section .content .commentairs .commentair .commentair_info .commentair_auth h3 {
  font-size: 1.2em;
  font-weight: 300;
  margin: 5px;
  padding: 0;
}
/* line 340, ../sass/_productPage.scss */
.product_page .comment-section .content .commentairs .commentair .commentair_info .commentair_content p {
  font-size: 1em;
  margin: 5px;
  padding: 0;
}
/* line 348, ../sass/_productPage.scss */
.product_page .comment-section .content .commentairs .commentair .commentair_date {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}
/* line 353, ../sass/_productPage.scss */
.product_page .comment-section .content .commentairs .commentair .commentair_date em {
  font-size: .8em;
  margin-right: 5px;
}
/* line 357, ../sass/_productPage.scss */
.product_page .comment-section .content .commentairs .commentair .commentair_date .acv {
  margin: 5px;
  width: fit-content;
  font-size: .8em;
  padding: 3px;
  border-radius: 3px;
  color: #1b6d1b;
  background: #befabe;
}
/* line 367, ../sass/_productPage.scss */
.product_page .comment-section .content .commentairs .commentair .commentair_date .delete {
  float: right;
  color: red;
  font-size: 1em;
  padding: 3px;
  border-radius: 2px;
}
/* line 373, ../sass/_productPage.scss */
.product_page .comment-section .content .commentairs .commentair .commentair_date .delete:hover {
  background: #f5f5f5;
}

/* line 5, ../sass/_form.scss */
.addProduct form .color_container .vueColor div {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 50%;
  opacity: 0.5;
}
/* line 15, ../sass/_form.scss */
.addProduct form .color_container .vueColor div.selected {
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* line 22, ../sass/_form.scss */
.addProduct form .color_container .vueColor .red {
  background: red;
}
/* line 27, ../sass/_form.scss */
.addProduct form .color_container .vueColor .bleu {
  background: blue;
}
/* line 32, ../sass/_form.scss */
.addProduct form .color_container .vueColor .green {
  background: green;
}
/* line 37, ../sass/_form.scss */
.addProduct form .color_container .vueColor .yellow {
  background: yellow;
}
/* line 42, ../sass/_form.scss */
.addProduct form .color_container .vueColor .black {
  background: black;
}
/* line 47, ../sass/_form.scss */
.addProduct form .color_container .vueColor .white {
  background: white;
}
/* line 52, ../sass/_form.scss */
.addProduct form .color_container .vueColor .orange {
  background: orange;
}
/* line 57, ../sass/_form.scss */
.addProduct form .color_container .vueColor .purple {
  background: purple;
}
/* line 62, ../sass/_form.scss */
.addProduct form .color_container .vueColor .brown {
  background: brown;
}
/* line 67, ../sass/_form.scss */
.addProduct form .color_container .vueColor .grey {
  background: grey;
}
/* line 72, ../sass/_form.scss */
.addProduct form .color_container .vueColor .pink {
  background: pink;
}
/* line 77, ../sass/_form.scss */
.addProduct form .color_container .vueColor .turquoise {
  background: turquoise;
}
/* line 82, ../sass/_form.scss */
.addProduct form .color_container .vueColor .beige {
  background: beige;
}
/* line 87, ../sass/_form.scss */
.addProduct form .color_container .vueColor .gold {
  background: gold;
}
/* line 92, ../sass/_form.scss */
.addProduct form .color_container .vueColor .silver {
  background: silver;
}

/* line 23, ../sass/screen.scss */
body {
  background: #f5f5f5;
}
/* line 26, ../sass/screen.scss */
body .hidden {
  display: none;
}
