.form_option{
    @import 'vueColor';
}

.inscription{
    background: $white;
    padding: 10px;
    
    .form{
        width: 90%;
        margin: auto;
        
        form{
            width: 40%;
            margin: auto;
            
            .title-form{
                margin-bottom: 10px;
                text-align: center;
                
                h2{
                    font-size: 1.5em;
                    font-weight: 100;
                }
                
                img{
                    width: 70px;
                    margin: auto;
                }
            }
        }
        
        .hvc{
            display: block;
            width: 50%;
            margin: auto;
            font-size: .9em;
            text-align: center;
            
            a{
                color: $primary;
            }
        }
    }
}