.connection{
    background: $white;
    .form{
        width: 50%;
        margin: auto;
        padding: 5px;
        
        form{
            width: 70%;
            margin: auto;
            
            label{
                color: $primary;
            }
            input{
                height: 50px;
                border: 1px solid $blackLighter;
                transition-duration: 0.3s;
                
                &:focus{
                    border: 1px solid $primary !important;
                    box-shadow: none;
                }
            }
            .title-form{
                width: 100%;
                text-align: center;
                color: $blackLight;
                
                img{
                    width: 70px;
                }
                h2{
                    font-size: 1.5em;
                    font-weight: 100;
                }
            }
        }
        
        .form-infos{
            width: 70%;
            margin: auto;
            text-align: center;
            
            p{
                font-size: .9em;
                    
                a{
                    color: blue;
                    
                    &:hover{
                        color: $primary;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}