$primary: #006d77;
$primaryLighter: #f5f5f5;
$primaryDark: #014e55;
$secondary: #83c5be;
$gray: #edf6f9;
$pink: #ffddd2;
$pinksecond: #e29578;
$white: #fff;
$green: rgb(27, 109, 27);
$greenLight: rgb(190, 250, 190);
$blackLight: rgb(63, 62, 62);
$blackLighter: rgb(153, 150, 150);
$yellow: yellow;